# Documentacion y capturas de los ejercicios
/Python/01-Introduccion-a-Python/docs

# Vault de Obsidian con mis apuntes
.obsidian

# Bitácora del Alumno (Ficha tecnica)
/Python/01-Introduccion-a-Python/'Ficha Técnica - Bitácora del Alumnado.md'

