# =========================
# Documentacion y capturas
# =========================
/Python/01-Introduccion-a-Python/docs

# =========================
# Vault de Obsidian
# =========================
.obsidian

# =========================
# Java / Maven
# =========================

**/target/
**/*.class

# =========================
# Python
# =========================

**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/
**/env/

# =========================
# IDEs / Editores
# =========================

.idea/
.vscode/
*.iml

# =========================
# Sistema operativo
# =========================

.DS_Store
Thumbs.db

# =========================
# Archivos personales
# =========================

**/Ficha Técnica - Bitácora del Alumnado_1.md
